name: DBT Compile Only

on:
  push:
    branches:
      - main

jobs:
  dbt-compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install DBT
        run: |
          python -m pip install --upgrade pip
          pip install dbt-core

      - name: Compile SQL
        run: |
          dbt compile --no-profile