name: ETL

on:
  push:
    branches:
      - main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.USER }}
          password: ${{ secrets.PASS }}
      
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.19.2          
        with:
          context: .
          push: true
          tags: mostafazima11/etl:latest
          