name: Run Python ETL

on:
  push:
    branches:
      - main

jobs:
  #CI 
  Build_and_Push_Docker_Image:
    runs-on: ubuntu-latest
    env:
      username: ${{ vars.USER }}
      password: ${{ secrets.PASS }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.username }}
          password: ${{ env.password }}
      
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.19.2          
        with:
          context: .
          push: true
          tags: ${{ env.username }}/etl_pipeline:latest
    
    #CD 
  Run_ETL_Job:
    runs-on: ubuntu-latest
    needs: Build_and_Push_Docker_Image

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: mydb
        ports: 
            - 5432:5432
        options: >-
              --health-cmd="pg_isready -U user"
              --health-interval=5s
              --health-timeout=5s
              --health-retries=10

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.USER }}
          password: ${{ secrets.PASS }}
 
      - name: Install psql client
        run: 
          sudo apt-get update && sudo apt-get install -y postgresql-client    
    
      - name: Wait for Postgres to be healthy
        run: |
          echo "Waiting for Postgres service..."
          timeout 60 bash -c '
            until pg_isready -h localhost -p 5432 -U user; do
              sleep 2
            done
          '
      

# Note: inside GitHub Actions runner, mapped port is localhost:5432

      - name: Run ETL container
        run: |
          docker run --rm \
           --network ${{ job.services.postgres.network }} \
            -e DB_HOST=postgres \
            -e DB_PORT=5432 \
            -e DB_NAME=mydb \
            -e DB_USER=user \
            -e DB_PASSWORD=password \
            ${{ vars.USER }}/etl_pipeline:latest

      - name: Verify Data
        run: |
          PGPASSWORD=password psql -h localhost -U user -d mydb -c "SELECT * FROM sales;"