name: Run CSV Python ETL

on:
  push:
    branches:
      - main

jobs:
  run-etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run Etl Script
        run: python etl_csv.py

      - name : upload uotput file
        uses: actions/upload-artifact@v6
        with:
          name: sales_output  
          path: sales_output.csv
