name: ETL Test

on:
  push:
    branches: [main]
 
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11  

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas sqlalchemy psycopg2-binary
          pip install dbt-core 

                
      - name: Run ETL test
        run: |
          python -m pip install pytest
          pytest test_etl.py
      
      - name: Run DBT test
        run: |
            dbt run
            dbt test